<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ams.mapper.BoardMapper">

 <insert id="create">
 insert into ams_board (lot, cin, cout, total, writer) 
 values(#{lot}, #{cin}, #{cout}, #{total}, #{writer})
 </insert>

 <select id="read" resultType="org.ams.domain.BoardVO">
 
 select 
   bno, lot, cin, cout, total, writer, regdate, viewcnt 
 from 
   ams_board 
 where bno = #{bno}
 </select>
 
 <select id="maxread" resultType="org.ams.domain.BoardVO">
 select 
   bno, lot, cin, cout, total, writer, regdate, viewcnt 
 from 
   ams_board 
 order by bno desc limit 1
  <!-- where bno = (select max(bno) from ams_board) -->
 </select>

 <update id="update">
 update ams_board set cin =#{cin}, cout =#{cout}, writer =#{writer}   
 where bno = #{bno}
 </update>

 <delete id="delete">
 delete from ams_board where bno = #{bno}
 </delete>
 

  <select id="listAll" resultType="org.ams.domain.BoardVO">
 <![CDATA[
 select 
   bno, lot, cin, cout, total, writer, regdate, viewcnt 
 from 
   ams_board 
 where bno > 0 
 order by bno desc, regdate desc
 ]]>  
 </select> 
  
</mapper>
